<div>
    <h1>Listado de productos</h1>
    <div class="cardsContainer" id="cardsContainer">
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/files/js/realTimeProducts.js"></script>
